*{
  box-sizing: border-box;
  margin: 0;
}
body{
  text-align: center;
}

section{
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 80px;
}
p{
  font-size: 40px;
}
.s1{
  background: lightblue;
}

.s2{
  background: lightcoral;
}
.s3{
  background: lightgoldenrodyellow;
  overflow: hidden;
}
/* aos animation */
.s3 .logo{
  transform: translateY(200%);
}
.s3 .logo.aos-animate {
  transform: translateY(-200%);
}

.s4 {
  background: #2980b9;
  overflow: hidden;
  position: relative;
}

.s4 h1 {
  transform: translateY(50%)
}

.rocket {
  transform: translateY(200%);
}

.rocket.aos-animate {
  transform: translateY(-200%);
}